<!doctype html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rokkitt:700|Ultra">
</head>
<body>
	<div id="logo">iStockutils</div>
	<div id="content">
	{% block content %}{% endblock %}
	</div>
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="{{ url_for('static', filename='jquery-ui-1.8.16.custom.min.js') }}"></script>
	<script src="http://html2canvas.hertzen.com/build/html2canvas.js"></script>
	<script src="http://html2canvas.hertzen.com/build/jquery.plugin.html2canvas.js"></script>
	{% block script %}{% endblock %}
</body>
</html>
