<!doctype html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rokkitt:700|Ultra">
</head>
<body>
	<div id="header">
		<div id="logo"><a href="http://www.istockutils.com/">iStockutils</a></div>
	</div>
	<div id="content">
	{% block content %}{% endblock %}
	</div>
	<div id="footer">
		<div>
			Made by <a href="http://about.me/kolumbo">Aleksandar Kolundzija</a>, <a href="http://www.twitter.com/subchild">@subchild</a> on Twitter. 
			Check out my <a href="http://refer.istockphoto.com/ta.php?lc=055179042431004652&atid=57008%7CBannerID%3D57008%7CReferralMethod%3DLink&url=http%3A%2F%2Fwww.istockphoto.com%2Fsearch%2Fportfolio%2F1289831%2Fsource%2Fref"><img src="http://refer.istockphoto.com/traffic_record.php?lc=055179042431004652&atid=57008%7CBannerID%3D57008%7CReferralMethod%3DLink">iStockphoto.com portfolio</a>. 
			<a href="http://tiptheweb.org/tip/?link=http%3A%2F%2Fwww.istockutils.com%2F" class="ttw-button ttw-button-small">Tip</a>
	</div>
	</div>
	<a href="http://github.com/subchild/iStockUtils" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
	<script type="text/javascript">
  	var _gaq = _gaq || [];
  	_gaq.push(['_setAccount', 'UA-443787-8']);
  	_gaq.push(['_trackPageview']);
  	(function() {
    	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  	})();
	</script>
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="{{ url_for('static', filename='jquery-ui-1.8.16.custom.min.js') }}"></script>
	<script>
	(function (window, document) {
		var ref = document.getElementsByTagName('script')[0],
			script = document.createElement('script'),
			secure = window.location.protocol === 'https:';
			script.async = true;
		    script.src = secure ? 'https://secure-platform.tiptheweb.org/tip/button.js'
								: 'http://platform.tiptheweb.org/tip/button.js';
								ref.parentNode.insertBefore(script, ref);
	}(this, this.document));
	</script>
	{#
	<script src="http://html2canvas.hertzen.com/build/html2canvas.js"></script>
	<script src="http://html2canvas.hertzen.com/build/jquery.plugin.html2canvas.js"></script>
	#}
	{% block script %}{% endblock %}
</body>
</html>
