{% extends "layout.html" %}
{% block content %}
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>

	<div class="col" id="col-a">
		<div class="intro">
			<h1>Lightbox Link Image</h1>
			<ol>
				<li>Sort photos by dragging thumbs into place.</li>
				<li>Drag slider to change number of rows.</li>
				<li>Save graphic, upload and paste UBB to iStockPhoto photo description.</li>
			</ol>
			<div id="slider-label-lightbox-rows" class="slider-label">Thumb Rows: <span></span></div>
			<div id="slider-lightbox-rows"></div>	
		</div>
		<div id="lightbox">
			<h3>{{ name }}</h3>
			<ul id="lightbox-thumbs">
			{% for thumb in thumbs %}
				<li data-id="{{ thumb.id }}" data-ubb="{{ thumb.ubb }}"><div style="background-image:url({{ thumb.src }});"></div></li>
			{% endfor %}
			</ul>
		</div>
		<textarea id="lightbox-ubb"></textarea>
		<!-- <button id="generate-image">Generate Image</button> -->
	</div>

	<div class="col">
		<div class="intro">
			<h1>Individual Thumbnails</h1>
			<ol>
				<li>Sort photos by dragging thumbs into place.</li>
				<li>Drag slider to change number of thumbs.</li>
				<li>Copy UBB code below then paste into iStockPhoto photo description.</li>
			</ol>
			<div id="slider-label-thumb-count" class="slider-label">Thumbnails: <span></span></div>
			<div id="slider-thumb-count"></div>
		</div>
		<div id="thumbs">
			{% if thumbs %}
				<ul id="individual-thumbs">
				{% for thumb in thumbs %}
					<li data-id="{{ thumb.id }}" data-ubb="{{ thumb.ubb }}"><a href="http://www.istockphoto.com/file_closeup_edit.php?id={{ thumb.id }}" target="_blank"><img src="{{ thumb.src }}"></a></li>	
				{% endfor %}
				</ul>
				<textarea id="thumbs-ubb">{{ ubbstring }}</textarea>
			{% else %}
				This Lightbox is empty.  
			{% endif %}
		</div>	
	</div>
{% endblock %}
{% block script %}
	<script src="{{ url_for('static', filename='output.js') }}"></script>
{% endblock %}

